{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "entry",
        "corejs": 3,
        "include":  ["@babel/plugin-proposal-optional-catch-binding"]
      }
    ]
  ]
}
