.github/
.idea/
.vscode/
**/__pycache__/
build/
**/node_modules
static/
media/
functional_tests/
**/*.mo
**/*.pyc
.git/
.env
.env.example
.eslintrc.json
.gitignore
docker-compose.yml
*.sqlite3
Dockerfile
deploy/
.editorconfig
**/*.example
.coveragerc
.codeclimate.yml
