[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
django-extensions = "*"
django-debug-toolbar = "*"
black = "*"
selenium = "*"
factory_boy = "*"
typing-extensions = "*"
beautifulsoup4 = "*"
coverage = "*"
werkzeug = "*"

[packages]
mysqlclient = "*"
django-crispy-forms = "*"
django-money = "*"
django-admin-sortable = "*"
openpyxl = "*"
django-environ = "*"
sorl-thumbnail = "*"
python-memcached = "*"
django-gulp = "*"
django-ckeditor = "*"
django-filter = "*"
rules = "*"
Django = "*"
Pillow = "*"
factory-boy = "*"
django-mptt = "*"
django-mptt-admin = "*"

[pipenv]
allow_prereleases = true
