[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[requires]
python_version = "3.12"

[dev-packages]
django-debug-toolbar = "*"
black = "*"
selenium = "*"
factory_boy = "*"
typing-extensions = "*"
beautifulsoup4 = "*"
coverage = "*"
werkzeug = "*"
faker = "*"
django-extensions = "*"

[packages]
django-crispy-forms = "==1.14.0"
django-money = "*"
django-gulp = "*"
openpyxl = "*"
django-environ = "*"
sorl-thumbnail = "*"
python-memcached = "*"
django-ckeditor = "*"
django-filter = "*"
rules = "*"
Django = "*"
Pillow = "*"
django-mptt = "*"
django-mptt-admin = "*"
django-admin-sortable = {git = "https://github.com/gafderks/django-admin-sortable"}
pymemcache = "*"
gunicorn = "*"
psycopg = {extras = ["binary", "pool"], version = "*"}

[pipenv]
allow_prereleases = true
