Django==3.0.5
Pillow==7.1.1
mysqlclient==1.4.6
django-crispy-forms==1.9.0
django-money==1.1
django-admin-sortable==2.2.3
openpyxl==3.0.3
django-environ==0.4.5
sorl-thumbnail==12.6.3
python-memcached==1.59
django-gulp==4.1.0
django-ckeditor==5.9.0
