{% extends "jeugdraad/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load compress %}
{% load event %}

{% block body_attrs %}{{ block.super }} data-spy="scroll" data-target="#scroll_pills" data-offset="100"{% endblock %}
{% block body_class %}{{ block.super }} {% if current_event|may_edit:user %}editable{% endif %}{% endblock %}

{% block content %}

    <div class="clearfix">
      <div class="float-md-left">
        <h1>{{ current_event.name }}</h1>
        <div class="event-badges">
          {% if current_event.is_privileged %}
            {% if not current_event|may_edit:user %}
              <span class="badge badge-danger"><i class="fas fa-user-lock mr-2"></i>{% trans "Privileged" %}</span>
            {% else %}
              <span class="badge badge-warning"><i class="fas fa-user-lock mr-2"></i>{% trans "Privileged" %}</span>
              <span class="badge badge-secondary badge-supplement">{% trans "but you may edit" %}</span>
            {% endif %}
          {% elif current_event.is_locked %}
            {% if not current_event|may_edit:user %}
              <span class="badge badge-danger"><i class="fas fa-lock mr-2"></i>{% trans "Locked" %}</span>
            {% else %}
              <span class="badge badge-warning"><i class="fas fa-lock mr-2"></i>{% trans "Locked" %}</span>
              <span class="badge badge-secondary badge-supplement">{% trans "but you may edit" %}</span>
            {% endif %}
          {% endif %}
          {% compress css %}
            <style type="text/css">
            .event-badges {
              margin-top: -0.5rem;
              margin-bottom: 1rem;
            }

            .badge-supplement {
              margin-left: -0.3rem;
              padding-left: 0.3rem;
              border-bottom-left-radius: 0;
              border-top-left-radius: 0;
            }
            </style>
          {% endcompress %}
        </div>
      </div>



      <div class="dropdown float-md-right">
      <button class="btn btn-outline-secondary {% if perms.booking.can_view_others_groups_bookings %}dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false{% endif %}">
        {{ current_group.name }}
      </button>
      {% if perms.booking.can_view_others_groups_bookings %}
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="z-index: 3000;">
        {% for group in groups %}
          <a class="dropdown-item" href="?group={{ group.id }}">{{ group.name }}</a>
        {% endfor %}
        <div class="dropdown-divider"></div>
        {% for commission in commissions %}
          <a class="dropdown-item" href="?group={{ commission.id }}">{{ commission.name }}</a>
        {% endfor %}
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="?group=all">{% trans "All" %}</a>
      </div>
      {% endif %}
    </div>
  </div>


    <p class="text-muted font-italic"><i class="far fa-calendar-alt"></i> {{ current_event.event_start }} - {{ current_event.event_end }}</p>
    <p class="text-muted font-italic" title="{% trans "Booking period" %}"><i class="fas fa-lock"></i> {{ current_event.booking_start }} - {{ current_event.booking_end }}</p>
    <p class="text-muted font-italic" title="{% trans "Privileged booking period" %}"><i class="fas fa-user-lock"></i> {{ current_event.booking_end }} - {{ current_event.privileged_booking_end }}</p>

  <p class="lead">{% trans "Material bookings" %}</p>


  <div class="card position-relative booking-card">
      <nav class="card-header sticky-top frosted" id="scroll_pills">

          <ul class="nav nav-pills card-header-pills">
            {% for day in current_event.days %}
            <li class="nav-item">
              <a class="nav-link {% if forloop.counter == 1 %}active{% endif %}" href="#day{{ forloop.counter }}">{{ day|date:"l" }}</a>
            </li>
            {% endfor %}
          </ul>

      </nav>
      <div class="card-body">

        {% for day in current_event.days %}
          <div class="day">

          <h4 id="day{{ forloop.counter }}">{{ day|date:"l"|capfirst }} {{ day }}</h4>
  <div class="card game">
          <div class="card-header">
            Mollen vangen
          </div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">{% trans "Material" %}</th>
                  <th scope="col">{% trans "Amount" %}</th>
                  <th scope="col">{% trans "Comment" %}</th>
                  <th scope="col">{% trans "Workweek" %}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
          </div>
            {% endfor %}







      </div>
    </div>

  {% compress css %}
    <style type="text/css">
      html {
        scroll-behavior: smooth;
      }

    .frosted {
      background-color: rgba(255, 255, 255, .6);
      backdrop-filter: blur(8px);
    }

    .booking-card h4:target:before {
      content: "";
      display: block;
      height: 80px;
      margin: -80px 0 0;
    }

    .day {
      padding: 2rem 0;
    }

    .day:first-child {
      padding-top: 0;
      padding-bottom: 2rem;
    }

    .day h4 {
      border-top: 3px #eee solid;
      padding: 1rem 0;
    }




    </style>
  {% endcompress %}

{% endblock %}

