{% extends "jeugdraad/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load compress %}
{% load event %}

{% block body_attrs %}{{ block.super }} data-spy="scroll" data-target="#scroll_pills" data-offset="100"{% endblock %}
{% block body_class %}{{ block.super }} {% if current_event|may_edit:user %}editable{% endif %}{% endblock %}

{% block content %}

  {% compress css %}
    <style type="text/css">
      .details {
        margin-left: 1.5em;
      }

      span[data-toggle=tooltip][data-placement=right] {
        padding-right: 1em;
      }
    </style>
  {% endcompress %}

  <div class="row">
    <div class="col-md-8">
      <h1>{{ current_event.name }}</h1>
    </div>
    <div class="col-md-4 text-center text-md-right my-2 my-md-0">
      <div class="h2">
        <div data-toggle="tooltip" data-placement="top" title="{% trans "Booking status" %}" class="badge badge-secondary booking-status status-{{ current_event.booking_status_code }}">
          {{ current_event.booking_status }}<br/>
            {% if current_event|may_edit:user %}
              <small class="font-weight-light">{% trans "You may edit" %}</small>
            {% else %}
              <small class="font-weight-light">{% trans "You cannot edit" %}</small>
            {% endif %}
        </div>
      </div>

    </div>
    <div class="col-md-9">
      <ul class="fa-ul list-unstyled small text-muted details">
        <li>
          <span class="fa-li"><i class="far fa-calendar-alt"></i></span>
          <span data-toggle="tooltip" data-placement="right" title="{% trans "Event period" %}">
             {{ current_event.event_start }} - {{ current_event.event_end }}
          </span>
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-lock"></i></span>
          <span data-toggle="tooltip" data-placement="right" title="{% trans "Booking period" %}">
            {{ current_event.booking_start }} - {{ current_event.booking_end }}
          </span>
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-user-lock"></i></span>
          <span data-toggle="tooltip" data-placement="right" title="{% trans "Privileged booking period" %}">
            {{ current_event.booking_end }} - {{ current_event.privileged_booking_end }}
          </span>
        </li>
      </ul>
    </div>

  </div>

  {% compress css %}
    <style type="text/css">
      .booking-status.status-LO {
        background-color: #DC3545;
        border-color: #DC3545;
      }
      body.editable .booking-status.status-LO {
        color: #DC3545 !important;
      }
      .booking-status.status-PR {
        background-color: #ffc107;
        border-color: #ffc107;
      }
      body.editable .booking-status.status-PR {
        color: #ffc107 !important;
      }
      .booking-status.status-OP {
        background-color: #28a745;
        border-color: #28a745;
      }
      body.editable .booking-status.status-OP {
        color: #28a745 !important;
      }
      .booking-status {
        border-color: #6c757d;
      }
      body.editable .booking-status {
        background-color: transparent !important;
        border-width: 1px;
        border-style: solid;
        color: #6c757d !important;
      }
      .booking-status small {
        font-size: .7em;
      }
    </style>
  {% endcompress %}

  <div class="row">
    <div class="col-sm-8">
      <p class="lead">{% trans "Material bookings" %}</p>
    </div>
    <div class="col-sm-4">
      <div class="dropdown text-sm-right mb-2 mb-sm-0">
        <button class="btn btn-outline-secondary {% if perms.booking.can_view_others_groups_bookings %}dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false{% endif %}">
          {{ current_group.name }}
        </button>
        {% if perms.booking.can_view_others_groups_bookings %}
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="z-index: 3000;">
          {% for group in groups %}
            <a class="dropdown-item" href="?group={{ group.id }}">{{ group.name }}</a>
          {% endfor %}
          <div class="dropdown-divider"></div>
          {% for commission in commissions %}
            <a class="dropdown-item" href="?group={{ commission.id }}">{{ commission.name }}</a>
          {% endfor %}
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="?group=-1">{% trans "All" %}</a>
        </div>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="card position-relative booking-card">
      <nav class="card-header sticky-top frosted" id="scroll_pills">

          <ul class="nav nav-pills card-header-pills">
            {% for day in current_event.days %}
            <li class="nav-item">
              <a class="nav-link {% if forloop.counter == 1 %}active{% endif %}" href="#day{{ forloop.counter }}">{{ day|date:"l" }}</a>
            </li>
            {% endfor %}
          </ul>

      </nav>
      <div class="card-body">

        {% for day in current_event.days %}
          <div class="day">

          <h4 id="day{{ forloop.counter }}">{{ day|date:"l"|capfirst }} {{ day }}</h4>
  <div class="card game">
          <div class="card-header">
            Mollen vangen
          </div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">{% trans "Material" %}</th>
                  <th scope="col">{% trans "Amount" %}</th>
                  <th scope="col">{% trans "Comment" %}</th>
                  <th scope="col">{% trans "Workweek" %}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Jacob</td>
                  <td>Thornton</td>
                  <td>@fat</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Larry</td>
                  <td>the Bird</td>
                  <td>@twitter</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
          </div>
            {% endfor %}







      </div>
    </div>

  {% compress css %}
    <style type="text/css">
      html {
        scroll-behavior: smooth;
      }

    .frosted {
      background-color: rgba(255, 255, 255, .6);
      backdrop-filter: blur(8px);
    }

    .booking-card h4:target:before {
      content: "";
      display: block;
      height: 80px;
      margin: -80px 0 0;
    }

    .day {
      padding: 2rem 0;
    }

    .day:first-child {
      padding-top: 0;
      padding-bottom: 2rem;
    }

    .day h4 {
      border-top: 3px #eee solid;
      padding: 1rem 0;
    }




    </style>
  {% endcompress %}

{% endblock %}
