{% load static %}
{% load i18n %}
{% block navigation %}
<nav class="navbar navbar-expand-md navbar-light bg-light mb-4">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="{% static "booking/logo_small.png" %}" width="33" height="30" class="d-inline-block align-top" alt="">
            {% trans "DBase" %}
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">{%  trans "Overview" %} <span class="sr-only">{% trans "(current)" %}</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">{% trans "Reserve" %}</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">{% trans "Logout" %}</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="text" placeholder="{% trans "Search" %}" aria-label="{% trans "Search" %}">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">{% trans "Search" %}</button>
            </form>
        </div>
    </div>
</nav>
{% endblock %}
