span.twitter-typeahead {
  width: 100%;
}
span.twitter-typeahead .tt-menu {
  cursor: pointer;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 1rem;
  color: #373a3c;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  min-width: 100%;
  right: auto;
}
span.twitter-typeahead .tt-suggestion {
  display: block;
  width: 100%;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.5;
  color: #373a3c;
  text-align: inherit;
  white-space: nowrap;
  background: none;
  border: 0;
  border-bottom: 1px #eee solid;
}
span.twitter-typeahead .tt-suggestion:last-of-type {
  border-bottom: 0;
}
span.twitter-typeahead .tt-suggestion:focus {
  color: #2b2d2f;
  text-decoration: none;
  background-color: #f5f5f5;
}
span.twitter-typeahead .tt-suggestion:hover {
  color: #2b2d2f;
  text-decoration: none;
  background-color: #f5f5f5;
}
span.twitter-typeahead .tt-dataset {
  border-bottom: 1px #eee solid;
}
span.twitter-typeahead .tt-dataset:last-of-type {
  border-bottom: 0;
}
span.twitter-typeahead .active.tt-suggestion {
  color: #fff;
  text-decoration: none;
  background-color: #0275d8;
  outline: 0;
}
span.twitter-typeahead .active.tt-suggestion:focus {
  color: #fff;
  text-decoration: none;
  background-color: #0275d8;
  outline: 0;
}
span.twitter-typeahead .active.tt-suggestion:hover {
  color: #fff;
  text-decoration: none;
  background-color: #0275d8;
  outline: 0;
}
span.twitter-typeahead .tt-suggestion.tt-cursor {
  color: #fff;
  text-decoration: none;
  background-color: #0275d8;
  outline: 0;
}
span.twitter-typeahead .tt-suggestion.tt-cursor:focus {
  color: #fff;
  text-decoration: none;
  background-color: #0275d8;
  outline: 0;
}
span.twitter-typeahead .tt-suggestion.tt-cursor:hover {
  color: #fff;
  text-decoration: none;
  background-color: #0275d8;
  outline: 0;
}
span.twitter-typeahead .disabled.tt-suggestion {
  color: #818a91;
}
span.twitter-typeahead .disabled.tt-suggestion:focus {
  color: #818a91;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: "progid:DXImageTransform.Microsoft.gradient(enabled = false)";
}
span.twitter-typeahead .disabled.tt-suggestion:hover {
  color: #818a91;
  text-decoration: none;
  cursor: not-allowed;
  background-color: transparent;
  background-image: none;
  filter: "progid:DXImageTransform.Microsoft.gradient(enabled = false)";
}
span.twitter-typeahead .tt-highlight {
  font-weight: normal;
  text-decoration: underline;
}
span.twitter-typeahead .tt-cursor .tt-suggestion-category {
  color: white;
}
span.twitter-typeahead .tt-dataset-materialaliases .tt-cursor .tt-suggestion-name {
  color: white;
}
span.twitter-typeahead .tt-dataset-materialaliases .tt-suggestion-image img {
  margin: 0.9rem 0.3rem;
}
span.twitter-typeahead .tt-dataset-materialaliases .tt-suggestion-name {
  color: #6c757d;
  font-weight: 300;
  font-size: 0.8rem;
}
span.twitter-typeahead .tt-suggestion-category {
  color: #6c757d;
  font-weight: 300;
  font-size: 0.8rem;
  float: left;
}
span.twitter-typeahead .tt-suggestion-category .tt-highlight {
  text-decoration: none;
  font-weight: 300;
}
span.twitter-typeahead .tt-suggestion-gm {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  color: #ffc107;
  background-color: #212529;
  float: right;
}
span.twitter-typeahead .tt-suggestion-image img {
  height: 2rem;
  width: 2rem;
  margin: 0.3rem;
}
span.twitter-typeahead .tt-suggestion-text {
  padding-right: 3rem;
}
span.twitter-typeahead .tt-suggestion-no-image + .tt-suggestion-text {
  padding-right: 0;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 1rem;
  color: #373a3c;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.dropdown-menu-right {
  left: auto;
}

.dropdown-item:hover {
  color: #2b2d2f;
  text-decoration: none;
  background-color: #f5f5f5;
}

.input-group span.twitter-typeahead {
  display: block !important;
}
.input-group span.twitter-typeahead .tt-menu {
  top: 2.375rem !important;
}

/*# sourceMappingURL=autocomplete.css.map */
