$color_1: #495057;
$color_2: transparent;
$color_3: #777;

.form-label-group {
	position: relative;
	margin-bottom: 1rem;
	>input {
		height: 3.125rem;
		padding: .75rem;
	}
	>label {
		height: 3.125rem;
		padding: .75rem;
		position: absolute;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		margin-bottom: 0;
		line-height: 1.5;
		color: $color_1;
		pointer-events: none;
		cursor: text;
		border: 1px solid transparent;
		border-radius: .25rem;
		transition: all .1s ease-in-out;
	}
	input {
		&::-webkit-input-placeholder {
			color: $color_2;
		}
		&:-ms-input-placeholder {
			color: $color_2;
		}
		&::-ms-input-placeholder {
			color: $color_2;
		}
		&::-moz-placeholder {
			color: $color_2;
		}
		&::placeholder {
			color: $color_2;
		}
		&:not(:placeholder-shown) {
			padding-top: 1.25rem;
			padding-bottom: .25rem;
			&~label {
				padding-top: .25rem;
				padding-bottom: .25rem;
				font-size: 12px;
				color: $color_3;
			}
		}
	}
}


/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}

/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .form-label-group > label {
    display: none;
  }
  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}
