@import 'dbase/static/dbase/css/app';

video {
  background-color: #555;
  object-fit: cover;
}

.osb { /* on screen button */
  bottom: 10%;
  height: 4rem;
  position: absolute;
  width: 4rem;
  z-index: 5;
}

.camera-shutter {
  left: calc(50% - 2rem);
}

.camera-back {
  left: calc(10% - 2rem);
}

.camera-save {
  right: calc(10% - 2rem);
}

.camera-menu {
  left: 1rem;
  position: absolute;
  right: 1rem;
  top: 2%;
}

canvas {
  display: none;
}

.list {
  height: 100vh;
  overflow-y: auto;
}

.material-item img {
  height: 100px;
  width: 100px;
}

.material-item {
  height: calc(100px + 1rem);
  padding: 0.5rem;
}

.material-item:hover {
  background: #eee;
}

.camera-material h2 {
  color: white;
  font-size: 2rem;
  text-shadow: 2px 2px 4px #000;
}
