{% extends "jeugdraad/blank.html" %}
{% load static %}
{% load i18n %}

{% block body_class %}clouds{% endblock %}

{% block layout %}

<header>
{% include "jeugdraad/navigation.html" %}
</header>

<main class="container bg-light p-lg-5 p-md-4 py-3 shadow">
{% block content %}

{% endblock %}
</main>

{% include "jeugdraad/footer.html" %}

  <style type="text/css">
    .tt-suggestion-alias::before {
      content: "{% trans "Do you mean:" %}";
      margin-right: 0.3rem;
      font-weight: 300;
    }
  </style>
  <script type="text/javascript">
    const materialsUrl = "{% url 'booking:api:material' %}?format=json";
    const materialAliasesUrl = "{% url 'booking:api:materialalias' %}?format=json";
    const materialsThumbprint = "{{ typeahead_thumbprint }}";
  </script>
{% endblock %}
