{% extends "jeugdraad/blank.html" %}
{% load static %}

{% block body_class %}clouds{% endblock %}

{% block layout %}

<header>
{% include "jeugdraad/navigation.html" %}
</header>

<main class="container bg-light p-5 shadow">
{% block content %}

{% endblock %}
</main>

{% include "jeugdraad/footer.html" %}

{% endblock %}

{% block scripts %}
  <script type="text/javascript">
    var materialsUrl = "{% url 'booking:api:materials' %}?format=json";
  </script>
  <script src="{% static 'booking/autocomplete.js' %}" type="text/javascript"></script>
{% endblock %}
