{% load static %}
{% load i18n %}
{% load compress %}

{% block footer %}
  <footer class="footer mt-auto pb-3">
    <div class="container">
      <p class="float-md-right">
        <a href="https://github.com/gafderks/dbase/issues/new" class="text-muted">
          <i class="fas fa-bug"></i> {% trans "Submit an issue" %}
        </a>
      </p>
      <p class="float-md-left">
        <a href="https://www.dongensejeugdraad.nl/" class="text-muted">{% trans "&copy; Stichting Dongense Jeugdraad" %}</a>
      </p>
    </div>
  </footer>
{% endblock %}

{% compress css %}
  <style type="text/css">
    footer {
      padding-top: 1rem;
    }

    @media (min-width: 992px) {
      footer {
        background-image: url("{% static "booking/footer.png" %}");
        background-size: 300px;
        background-repeat: no-repeat;
        background-position: bottom center;
        padding-top: 200px;
      }

    }

    body {
      display: flex;
      height: 100%;
      flex-direction: column;
    }

    main {
      flex-shrink: 0;
    }
  </style>
{% endcompress %}
