{% load static %}
{% load i18n %}
{% load compress %}
{% load roles %}
{% load event %}
{% block navigation %}
  <nav class="navbar navbar-expand-sm navbar-light bg-light mb-4">
    <div class="container">
      <a class="navbar-brand" href="{% url 'index' %}" data-toggle="tooltip" data-placement="bottom" title="{% trans "Open homepage" %}">
        <img src="{% static "booking/logo_66x60.png" %}" width="33" height="30" class="d-inline-block align-top" alt="{% trans "Open homepage" %}">
          {% trans "DBase" %}
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavigation"
              aria-controls="mainNavigation" aria-expanded="false" aria-label="{% trans 'Toggle navigation' %}">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="mainNavigation">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown" data-toggle="tooltip" data-placement="bottom" title="{% trans "Event" %}">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="far fa-calendar-alt fa-fw"></i>
              <span>{{ current_event.name }}</span>
              {% if current_event.is_privileged or current_event.is_locked %}
                {% if not current_event|may_edit:user %}
                  <i class="fas fa-lock ml-2 text-danger"></i>
                {% else %}
                  <i class="fas fa-lock ml-2 text-muted"></i>
                {% endif %}
              {% endif %}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% for event in events %}
              <a class="dropdown-item {% if current_event == event %}active{% endif %}" href="{% url 'booking:event_bookings' event.id %}">
                <i class="far fa-calendar-alt fa-fw"></i>
                <span>{{ event.name }}</span>
                {% if event.is_privileged or event.is_locked %}
                  {% if not event|may_edit:user %}
                    <i class="fas fa-lock ml-2 text-danger"></i>
                  {% else %}
                    <i class="fas fa-lock ml-2 text-muted"></i>
                  {% endif %}
                {% endif %}
              </a>
              {% endfor %}
            </div>
          </li>
        </ul>
        <ul class="navbar-nav">
            {% if user.is_authenticated %}
              <li class="nav-item" data-toggle="tooltip" data-placement="left" title="{% trans "Logged in user" %}">
                <a class="nav-link" href="#">
                  <i class="fas fa-user-circle fa-fw"></i>
                  <span class="d-inline d-sm-none d-lg-inline">{{ user.first_name }}</span>
                  {% if user|has_role:'MB' %}
                    <span class="badge badge-mb" data-toggle="tooltip" data-placement="bottom" title="{% trans "Materiaalboer" %}">MB</span>
                  {% endif %}
                </a>
              </li>
              <li class="nav-item" data-toggle="tooltip" data-placement="bottom" title="{% trans "Logout" %}">
                <a class="nav-link" href="{% url 'users:logout' %}">
                  <i class="fas fa-sign-out-alt fa-fw"></i>
                  <span class="d-inline d-sm-none d-lg-inline">{% trans "Logout" %}</span>
                </a>
              </li>
              {% if user.is_staff %}
                <li class="nav-item" data-toggle="tooltip" data-placement="bottom" title="{% trans "Admin" %}">
                  <a class="nav-link" href="{% url 'admin:index' %}">
                    <i class="fas fa-cog fa-fw"></i>
                    <span class="d-inline d-sm-none d-lg-inline">{% trans "Admin" %}</span>
                  </a>
                </li>
              {% endif %}
            {% else %}
              <li class="nav-item" data-toggle="tooltip" data-placement="bottom" title="{% trans "Login" %}">
                <a class="nav-link" href="{% url 'users:login' %}">
                  <i class="fas fa-sign-in-alt fa-fw"></i>
                  <span class="d-inline d-sm-none d-lg-inline">{% trans "Login" %}</span>
                </a>
              </li>
            {% endif %}
          <li class="nav-item dropdown d-none d-sm-block d-lg-none" data-toggle="tooltip" data-placement="left" title="{% trans "Search" %}">
            <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-search fa-fw"></i>
              <span class="sr-only"> {% trans "Search" %}</span>
            </a>
            <div class="dropdown-menu dropdown-menu-right" style="width: 25rem;">
              <div class="input-group mx-2 w-auto">
                <input class="form-control typeahead-materials" type="text" data-notfoundtext="{% trans "Material not found..." %}"  placeholder="{% trans "Search" %}" aria-label="{% trans "Search" %}" aria-describedby="nav-search-addon2">
                <div class="input-group-append">
                  <button type="button" class="btn btn-outline-secondary" id="nav-search-addon2">
                    <i class="fas fa-search"></i>
                  </button>
                </div>
              </div>
            </div>
          </li>
        </ul>
        <div class="input-group my-2 my-lg-0 d-flex d-sm-none d-lg-flex w-auto">
          <input class="form-control mr-sm-2 typeahead-materials" data-notfoundtext="{% trans "Material not found..." %}" type="text" placeholder="{% trans "Search" %}" aria-label="{% trans "Search" %}" aria-describedby="nav-search-addon">
          <div class="input-group-append">
            <button type="button" class="btn btn-outline-secondary" id="nav-search-addon">
              <i class="fas fa-search"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </nav>
{% endblock %}

{% compress css %}
  <style type="text/css">
    nav.navbar li > a svg ~ span {
      margin-left: 0.2em;
    }

    nav.navbar li.active {
      background: #ddd;
    }

    .input-group .tt-input {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }

    .input-group span.twitter-typeahead {
      position: relative;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      width: 1%;
      margin-bottom: 0;
    }

    .badge-mb {
      color: #ffc107;
      background-color: #212529;
    }
  </style>
{% endcompress %}
