{% load crispy_forms_field %}
{% load i18n %}
{% load mptt_tags %}
{% load category_tree %}

{% if field.is_hidden %}
    {{ field }}
{% else %}
  <{% if tag %}{{ tag }}{% else %}div{% endif %} id="div_{{ field.auto_id }}" class="{% if not field|is_checkbox %}form-group{% if 'form-horizontal' in form_class %} row{% endif %}{% else %}{%if use_custom_control%}custom-control custom-checkbox{% else %}form-check{% endif %}{% endif %}{% if wrapper_class %} {{ wrapper_class }}{% endif %}{% if field.css_classes %} {{ field.css_classes }}{% endif %}">
    {% if field.label and form_show_labels %}
      <label for="{{ field.id_for_label }}" class="d-block {% if 'form-horizontal' in form_class %}col-form-label {% endif %}{{ label_class }} {% if field.field.required %} requiredField{% endif %}">
          {{ field.label|safe }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
      </label>
    {% endif %}
    {% recursetree field.field.queryset %}
      {% if node.is_root_node %}
        <div class="btn-group m-1">
          <button type="submit" class="btn {% if field.value == node.pk|slugify %}btn-secondary{% else %}btn-outline-secondary{% endif %}" name="categories" value="{% if field.value != node.pk|slugify %}{{ node.pk }}{% endif %}">
              {{ node }}
          </button>
          {% if not node.is_leaf_node %}
            <button type="button" class="btn {% if field.value in node|descendant_pks %}btn-secondary{% else %}btn-outline-secondary{% endif %} dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </button>
            <div class="dropdown-menu">
              {{ children }}
            </div>
          {% endif %}
        </div>
      {% else %}
        {% with dash_count=node.level|add:"-1" %}
          <button class="dropdown-item {% if field.value == node.pk|slugify %}active{% endif %}" name="categories" value="{% if field.value != node.pk|slugify %}{{ node.pk }}{% endif %}">
            {{ "—"|multiply:dash_count }} {{ node }}
          </button>
        {% endwith %}
        {{ children }}
      {% endif %}
    {% endrecursetree %}
    {% if field.field.null_label %}
      <button type="submit" class="btn {% if field.value == field.field.null_value %}btn-secondary{% else %}btn-outline-secondary{% endif %} m-1" name="categories" value="{% if field.value != field.field.null_value %}{{ field.field.null_value }}{% endif %}">{{ field.field.null_label }}</button>
    {% endif %}
  </{% if tag %}{{ tag }}{% else %}div{% endif %}>
{% endif %}
