{% load dictionary %}
{% load i18n %}
<nav class="col-lg-3 d-none d-lg-block navbar navbar-light bg-light day-nav">
  <div class="sticky-top" style="top: 5rem; z-index: 1019;">
    <a class="navbar-brand" href="#day{{ day.isoformat }}">{{ day|date:"l"|capfirst }}</a>
    <nav class="nav nav-pills flex-column">
      {% for code, trans in parts_of_day %}
        {% if games and games|get_item:code|length %}
          <a class="nav-link active-secondary" href="#{{ day.isoformat }}{{ code }}">{{ trans }}</a>
          <nav class="nav nav-pills flex-column">
            {% for game in games|get_item:code %}
              <a class="nav-link ml-3 my-1" href="#game{{ game.pk }}">{{ game.name }}</a>
            {% endfor %}
          </nav>
        {% endif %}
        {% if list_views and list_views|get_item:code|length %}
          <a class="nav-link active-secondary" href="#{{ day.isoformat }}{{ code }}">{{ trans }}</a>
          <nav class="nav nav-pills flex-column">
          {% for list_view in list_views|get_item:code %}
            <a class="nav-link ml-3 my-1" href="#list{{ day.isoformat }}{{ code }}{{ list_view.pk }}">{{ list_view.name }}</a>
          {% endfor %}
          </nav>
        {% endif %}
      {% endfor %}
      {% if games %}
        {% if current_group == request.user.group or perms.can_change_other_groups_bookings  %}
          <a class="btn btn-outline-secondary text-left mt-4 editor" href="#{{ day.isoformat }}new"><i class="fas fa-plus-square"></i> {% trans "Add new game" %}</a>
        {% endif %}
      {% endif %}
    </nav>
  </div>
</nav>
