{% load i18n %}
{% load crispy_forms_tags %}
{% load rules %}
{% has_perm 'booking.book_on_game' user game as can_book_on_game %}
{% has_perm 'booking.change_game' user game as can_edit_game %}
<div class="card game mb-3 fix-anchor" id="game{{ game.pk }}" data-id="{{ game.pk }}" data-order="{{ game.order }}" data-part-of-day-code="{{ game.part_of_day }}" data-day="{{ game.day.isoformat }}">
  <div class="card-header">
    {% if game %}
      {% crispy game.form %}
    {% else %}
      <form></form>
    {% endif %}
    <div class="game-header row">
      <div class="game-name card-name col-auto py-2">{{ game.name }}</div>
      <div class="game-location col py-2 text-right text-secondary">
        {% if game.location %}
          <div title="{% trans "Location" %}" data-toggle="tooltip" data-placement="bottom">
            <i class='fas fa-map-marker-alt'></i> {{ game.location }}
          </div>
        {% endif %}
      </div>
      {% if can_edit_game %}
        <div class="game-controls editor col-auto text-right">
          <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group mr-2 d-print-none" role="group" aria-label="{% trans "Sort game" %}">
              <a href="javascript:void(0);" data-action="{% url 'booking:api:move_game' game.id 'up' %}" data-method="post" data-toggle="tooltip" data-placement="bottom" class="btn btn-outline-secondary move-game move-game-up" title="{% trans "Move up" %}"><i class="fas fa-long-arrow-alt-up"></i></a>
              <a href="javascript:void(0);" data-action="{% url 'booking:api:move_game' game.id 'down' %}" data-method="post" data-toggle="tooltip" data-placement="bottom" class="btn btn-outline-secondary move-game move-game-down" title="{% trans "Move down" %}"><i class="fas fa-long-arrow-alt-down"></i></a>
            </div>
            <div class="btn-group mr-2 d-print-none" role="group" aria-label="{% trans "Game options" %}">
              <span data-toggle="modal" data-target="#deleteGameModal" data-action="{% url 'booking:api:delete_game' game.id %}" class="delete-game" data-method="post">
                <a href="javascript:void(0);" data-toggle="tooltip" data-placement="bottom" class="btn btn-outline-danger rounded-left" style="border-radius: 0;" title="{% trans "Delete" %}"><i class="far fa-trash-alt"></i></a>
              </span>
              <a href="javascript:void(0);" data-toggle="tooltip" data-placement="bottom" class="btn btn-outline-secondary edit-game" title="{% trans "Edit" %}"><i class="fas fa-edit"></i></a>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
  <div class="card-body p-0 collapse show">
    <div class="table-responsive-md">
      <table class="bookings-table table table-sm table-hover mb-0">
        <thead>
          <tr class="d-flex">
            <th scope="col" class="game-check check-all text-center col-auto pl-md-3 pl-sm-2">
              <div class="custom-control custom-checkbox" data-toggle="tooltip" data-placement="top" title="{% trans "Set status on all bookings" %}">
                <input type="checkbox" class="custom-control-input" id="check-all-{{ game.pk }}">
                <label class="custom-control-label" for="check-all-{{ game.pk }}"></label>
              </div>
            </th>
            <th scope="col" class="booking-material col col-md-3">{% trans "Material" %}</th>
            <th scope="col" class="booking-amount col-2 col-md-2 text-truncate" data-toggle="tooltip" title="{% trans "Amount" %}">{% trans "Amount" %}</th>
            <th scope="col" class="booking-workweek text-center col-1 col-md-1 text-truncate" data-toggle="tooltip" title="{% trans "Workweek" %}">{% trans "Workweek" %}</th>
            <th scope="col" class="booking-comment d-none d-md-table-cell col">{% trans "Comment" %}</th>
          </tr>
        </thead>
        <tbody>
        {% for booking in game.bookings.all %}
          {% include "booking/partials/booking-item.html" with booking=booking include_game=False %}
        {% endfor %}
        </tbody>
      </table>
    </div>
    {% if can_book_on_game  %}
    <div class="editor bg-light px-2 pb-2">
      <h6 class="px-2 pt-2 text-secondary">
        {% trans "Add material booking" %}
      </h6>
      {% crispy game.booking_form %}
    </div>
    {% endif %}
  </div>
</div>
