$color_1: #373a3c;
$color_2: #2b2d2f;
$color_3: #fff;
$color_4: #818a91;
$color_5: white;
$color_6: #6c757d;
$color_7: #ffc107;
$bg_dropdown: #fff;
$background_color_2: #f5f5f5;
$bg_active_item: #0275d8;
$background_color_4: transparent;
$background_color_5: #212529;

span.twitter-typeahead {
  width: 100%;

  .tt-menu {
    background-clip: padding-box;
    background-color: $bg_dropdown;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    color: $color_1;
    cursor: pointer;
    display: none;
    float: left;
    font-size: 1rem;
    left: 0;
    list-style: none;
    margin: 2px 0 0;
    min-width: 100%;
    padding: 5px 0;
    position: absolute;
    right: auto;
    text-align: left;
    top: 100%;
    z-index: 3000 !important;
  }

  .tt-suggestion {
    background: none;
    border: 0;
    border-bottom: 1px #eee solid;
    clear: both;
    color: $color_1;
    display: block;
    font-weight: normal;
    line-height: 1.5;
    padding: 3px 20px;
    text-align: inherit;
    white-space: nowrap;
    width: 100%;

    &:last-of-type {
      border-bottom: 0;
    }

    &:focus {
      background-color: $background_color_2;
      color: $color_2;
      text-decoration: none;
    }

    &:hover {
      background-color: $background_color_2;
      color: $color_2;
      text-decoration: none;
    }
  }

  .tt-dataset {
    border-bottom: 1px #eee solid;

    &:last-of-type {
      border-bottom: 0;
    }
  }

  .active.tt-suggestion {
    background-color: $bg_active_item;
    color: $color_3;
    outline: 0;
    text-decoration: none;

    &:focus {
      background-color: $bg_active_item;
      color: $color_3;
      outline: 0;
      text-decoration: none;
    }

    &:hover {
      background-color: $bg_active_item;
      color: $color_3;
      outline: 0;
      text-decoration: none;
    }
  }

  .tt-suggestion.tt-cursor {
    background-color: $bg_active_item;
    color: $color_3;
    outline: 0;
    text-decoration: none;

    &:focus {
      background-color: $bg_active_item;
      color: $color_3;
      outline: 0;
      text-decoration: none;
    }

    &:hover {
      background-color: $bg_active_item;
      color: $color_3;
      outline: 0;
      text-decoration: none;
    }
  }

  .disabled.tt-suggestion {
    color: $color_4;

    &:focus {
      background-color: $background_color_4;
      background-image: none;
      color: $color_4;
      cursor: not-allowed;
      filter: 'progid:DXImageTransform.Microsoft.gradient(enabled = false)';
      text-decoration: none;
    }

    &:hover {
      background-color: $background_color_4;
      background-image: none;
      color: $color_4;
      cursor: not-allowed;
      filter: 'progid:DXImageTransform.Microsoft.gradient(enabled = false)';
      text-decoration: none;
    }
  }

  .tt-highlight {
    font-weight: normal;
    text-decoration: underline;
  }

  .tt-cursor {
    .tt-suggestion-category {
      color: $color_5;
    }
  }

  .tt-dataset-materialaliases {
    .tt-cursor {
      .tt-suggestion-name {
        color: $color_5;
      }
    }

    .tt-suggestion-image {
      img {
        margin: 0.9rem 0.3rem;
      }
    }

    .tt-suggestion-name {
      color: $color_6;
      font-size: 0.8rem;
      font-weight: 300;
    }
  }

  .tt-suggestion-category {
    color: $color_6;
    float: left;
    font-size: 0.8rem;
    font-weight: 300;

    .tt-highlight {
      font-weight: 300;
      text-decoration: none;
    }
  }

  .tt-suggestion-gm {
    background-color: $background_color_5;
    border-radius: 0.25rem;
    color: $color_7;
    display: inline-block;
    float: right;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    padding: 0.25em 0.4em;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
  }

  .tt-suggestion-image {
    img {
      height: 2rem;
      margin: 0.3rem;
      width: 2rem;
    }
  }

  .tt-suggestion-text {
    padding-right: 3rem;
  }

  .tt-suggestion-no-image {
    &+.tt-suggestion-text {
      padding-right: 0;
    }
  }
}

.dropdown-menu {
  background-clip: padding-box;
  background-color: $bg_dropdown;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  color: $color_1;
  display: none;
  float: left;
  font-size: 1rem;
  left: 0;
  list-style: none;
  margin: 2px 0 0;
  min-width: 160px;
  padding: 5px 0;
  position: absolute;
  text-align: left;
  top: 100%;
  z-index: 1000;
}

.dropdown-menu-right {
  left: auto;
}

.dropdown-item {
  &:hover {
    background-color: $background_color_2;
    color: $color_2;
    text-decoration: none;
  }
}

.input-group {
  span.twitter-typeahead {
    display: block !important;

    .tt-menu {
      top: 2.375rem !important;
    }
  }
}
