footer {
  padding-top: 1rem;
}

@media (min-width: 992px) {
  footer {
    background-image: url('/static/dbase/img/footer.png');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 300px;
    padding-top: 200px;
  }
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex-shrink: 0;
}
