// Bootstrap
@import '~bootstrap/scss/bootstrap';
// Bootstrap toggle
@import '~bootstrap4-toggle/css/bootstrap4-toggle.min.css';

@import 'autocomplete';
@import 'floating-labels';

@import 'navigation';
@import 'footer';

@import 'jeugdraad';


body.clouds {
  background-image: url('/static/dbase/img/clouds.png');
  background-position: left top;
  background-repeat: repeat-x;
  background-size: cover;
}

/* Used in login page */
.frosted {
  backdrop-filter: blur(5px);
  background-color: rgba(255, 255, 255, 0.65);
}

.signin-container {
  margin: auto;
  max-width: 420px;
  padding: 15px;
  width: 100%;
}
/* End used in login page */
