body {
  --opacity: 0.6;
  background: linear-gradient(rgba(255, 255, 255, var(--opacity)),
      rgba(255, 255, 255, var(--opacity))),
    url("/static/sld_theme/img/background.jpg");
  background-size: cover;
  background-attachment: fixed;
}

.footer .text-muted {
  color: black !important;
}