<!DOCTYPE html>
{% load i18n %}
{% load static %}
<html lang="{{ get_current_language }}" class="h-100">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="Geert Derks">
  <link rel="apple-touch-icon" sizes="180x180" href="{% static 'dbase/icons/apple-touch-icon.png' %}">
  <link rel="icon" type="image/png" sizes="32x32" href="{% static 'dbase/icons/favicon-32x32.png' %}">
  <link rel="icon" type="image/png" sizes="16x16" href="{% static 'dbase/icons/favicon-16x16.png' %}">
  <link rel="manifest" href="{% static 'dbase/icons/site.webmanifest' %}">
  <title>{% block window_title %}{% trans "Material Database" %}{% endblock %}</title>

  {% block styles %}
    <link rel="stylesheet" href="{% static 'dbase/css/app.min.css' %}">
  {% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}" {% block body_attrs %}{% endblock %}>

{% block layout %}{% endblock %}

<script src="{% url 'javascript-catalog' %}" type="text/javascript"></script>
{% block scripts %}
  <script type="text/javascript" src="{% static 'dbase/js/app.min.js' %}"></script>
{% endblock %}
</body>
</html>
