{% load static %}
{% load i18n %}

{% block footer %}
<footer class="footer mt-auto pb-3">
<div class="container">
  <div class="row">
    <div class="col-12 col-md order-md-1">
      <ul class="fa-ul float-md-right mb-0">
        <li>
          <a href="https://github.com/gafderks/dbase/issues/new" target="issue" class="text-muted">
            <span class="fa-li"><i class="fas fa-bug"></i></span> {% trans "Submit an issue" %}
          </a>
        </li>
        <li>
          <a href="https://github.com/gafderks/dbase/wiki/%5BNL%5D-DBase-handleiding" target="manual" class="text-muted">
            <span class="fa-li"><i class="far fa-question-circle"></i></span> {% trans "Read the manual" %}
          </a>
        </li>
      </ul>
    </div>
    <div class="col-12 col-md order-md-0 d-flex">
      <a href="https://www.dongensejeugdraad.nl/" target="organisation" class="text-muted align-self-end">{% trans "&copy; Stichting Dongense Jeugdraad" %}</a>
    </div>
  </div>
</div>
</footer>
{% endblock %}
