{% load i18n %}
{% load thumbnail %}
<div class="row">
  {% for material in materials %}
    <div class="col-md-6 mb-2 row material-item" data-id="{{ material.pk }}" data-name="{{ material.name }}">
      <div class="col-auto">
        {% if material.images.first %}
          {% thumbnail material.images.first.image "100x100" crop="center" as image %}
            <img src="{{ image.url }}" alt="{{ material.name }}">
          {% endthumbnail %}
        {% else %}
          <img src="https://via.placeholder.com/100x100.png?text={% trans "No+photo" %}" alt="Placeholder">
        {% endif %}
      </div>
      <div class="col">
        <a href="#" class="h-100 d-flex">
          <div class="align-self-center pl-3 text-break">
            {{ material.name }}
            {% if material.lendable %}
              <br><div class="badge badge-secondary">{% trans "lendable" %}</div>
            {% endif %}
          </div>
        </a>
      </div>
    </div>
  {% endfor %}
</div>
