.crispy-outline {
    background-color: transparent;
}

html {
    scroll-behavior: smooth;
}

.active-secondary.active {
    background-color: #ccc!important;
    color: #007bff!important;
}

.frosted {
    background-color: rgba(255, 255, 255, .95);
    @supports ((-webkit-backdrop-filter: blur(2em)) or (backdrop-filter: blur(2em))) {
        background-color: rgba(255, 255, 255, .6);
        backdrop-filter: blur(8px);
    }
}

.typeahead-materials.tt-hint[readonly] {
    background: none 0% 0% / auto repeat scroll padding-box padding-box rgb(255, 255, 255);
}

// Adjust the scroll margin of all elements in booking-card body for sticky day navigation
.booking-card > .card-body * {
  scroll-margin-top: 75px; // height of day nav is 65px
}

ul.list-horizontal {
    margin-bottom: 0;

    li {
        display: inline-block;

        + li:before {
            content: '|';
            color: #6c757d;
            margin: 0 .5rem;
        }
}
}

.day {
    padding: 2rem 0;

     &:first-child {
        padding-top: 0;
        padding-bottom: 2rem;
    }

    h4 {
        border-top: 3px #eee solid;
        padding: 1rem 0;
    }

    .part-of-day {
        > :only-child {
            display: none;
        }
    }

  .day-nav .sticky-top > .nav {
    flex-wrap: nowrap;
    margin: 0 -1rem;
    max-height: calc(100vh - 5rem - 40px); // 5rem = top of sticky nav, 40px = height of day
    overflow-x: hidden;
    overflow-y: auto;
    padding: 0 1rem;
  }

    .booking {

        td.booking-form {
            display: none;
        }

        &.display-form {
            td.booking-info {
                display: none !important;
            }

            td.booking-form {
                display: flex;
            }
        }

        .booking-controls {
            display: none;
            right: 0;
            background: linear-gradient(90deg, rgba(236,236,236,0) 0%, rgba(236,236,236,1) 30%, rgba(236,236,236,1));
            padding-left: 3rem;
            height: 100%;
        }

        &:active, &:focus, &:hover {
            .booking-controls {

                &.show-xs {
                    display: flex;
                }

                @media (min-width: 768px) {
                    &.show-md {
                        display: flex;
                    }
                    &.show-xs {
                        display: none;
                    }
                }
            }

        }

        &.booking-duplicate-handler, &.booking-duplicate {
            border-left: 0.2rem #6c757d solid;

            .booking-check, .booking-form {
                /* account for border */
                margin-left: -0.2rem;
            }
        }

        &.booking-duplicate {
            background: lighten(#6c757d, 50%);
        }

        &.booking-duplicate-handler {

            td.booking-duplicate-dir {
                padding-left: .2rem !important;
                padding-right: .4rem;
                color: #6c757d;
            }

            .fa-folder-open {
                display: none;
            }
        }

        &.booking-duplicate-handler.open {
            .fa-folder {
                display: none;
            }
            .fa-folder-open {
                display: inline-block;
            }
        }

        @media (min-width: 768px) {
            &.booking-duplicate-handler, &.booking-duplicate {
                border-left: 0.3rem #6c757d solid;

                .booking-check, .booking-form {
                    /* account for border */
                    margin-left: -0.3rem;
                }
            }

            &.booking-duplicate-handler {
                td.booking-duplicate-dir {
                    padding-left: .7rem !important;
                    padding-right: .6rem;
                }
            }
        }
    }

    table.bookings-table {
        th {
            font-weight: normal;
            text-transform: uppercase;
            font-size: 0.8em;
            letter-spacing: .5pt;
            color: rgba(0, 0, 0, .35);
            border: 0;
        }

        tbody {
            td {
                border: none;
            }

            tr {
                border-top: 1px solid #dee2e6;

                &:last-of-type {
                    border-bottom: 1px solid #dee2e6;
                }

                &:hover td {
                    background: transparent;
                }
            }
        }

        label {
            margin-bottom: 0;
        }

        .booking-comment {

            &:empty {
                display: none !important;
            }
        }

        .booking-admin-controls {
            background-color: #f8f9fa;

        }
    }

    .card.game {



        h6 {
            font-weight: normal;
            text-transform: uppercase;
            font-size: 0.8em;
            letter-spacing: .5pt;
            color: rgba(0, 0, 0, .35);
            border: 0;
        }

        .card-header {
            form {
                display: none;
            }

            &.display-form {
                .game-header {
                    display: none;
                }

                form {
                    display: block;
                }
            }

            .game-header {
                .game-name, .game-location > div {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                .game-controls {
                    display: none;
                }
            }

            &:active, &:focus, &:hover {
                .game-header .game-controls {
                    display: inline-block;
                }
            }


        }


    }

    .new-game {
        h6 {
            font-size: 1rem;
            font-weight: lighter;
            text-transform: uppercase;
            line-height: 1.5;
        }
    }
}

body:not(.editable) {
    .editor {
        display: none !important;
    }
}

