.booking-status.status-LO {
  background-color: #DC3545;
  border-color: #DC3545;
}

body.editable .booking-status.status-LO {
  color: #DC3545 !important;
}

.booking-status.status-PR {
  background-color: #ffc107;
  border-color: #ffc107;
}

body.editable .booking-status.status-PR {
  color: #ffc107 !important;
}

.booking-status.status-OP {
  background-color: #28a745;
  border-color: #28a745;
}

body.editable .booking-status.status-OP {
  color: #28a745 !important;
}

.booking-status {
  border-color: #6c757d;
}

body.editable .booking-status {
  background-color: transparent !important;
  border-width: 1px;
  border-style: solid;
  color: #6c757d !important;
}

.booking-status small {
  font-size: .7em;
}
