.crispy-outline {
  background-color: transparent;
}

html {
  scroll-behavior: smooth;
}

.active-secondary.active {
  background-color: #ccc !important;
  color: #007bff !important;
}

.frosted {
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(8px);
}

.typeahead-materials.tt-hint[readonly] {
  background: none 0% 0%/auto repeat scroll padding-box padding-box white;
}

.fix-anchor {
  scroll-margin-top: 75px;
}

ul.list-horizontal {
  margin-bottom: 0;
}
ul.list-horizontal li {
  display: inline-block;
}
ul.list-horizontal li + li:before {
  content: "|";
  color: #6c757d;
  margin: 0 0.5rem;
}

.day {
  padding: 2rem 0;
}
.day:first-child {
  padding-top: 0;
  padding-bottom: 2rem;
}
.day h4 {
  border-top: 3px #eee solid;
  padding: 1rem 0;
}
.day .part-of-day > :only-child {
  display: none;
}
.day .booking td.booking-form {
  display: none;
}
.day .booking.display-form td.booking-info {
  display: none !important;
}
.day .booking.display-form td.booking-form {
  display: flex;
}
.day .booking .booking-controls {
  display: none;
  right: 0;
  background: linear-gradient(90deg, rgba(236, 236, 236, 0) 0%, #ececec 30%, #ececec);
  padding-left: 3rem;
  height: 100%;
}
.day .booking:active .booking-controls.show-xs, .day .booking:focus .booking-controls.show-xs, .day .booking:hover .booking-controls.show-xs {
  display: flex;
}
@media (min-width: 768px) {
  .day .booking:active .booking-controls.show-md, .day .booking:focus .booking-controls.show-md, .day .booking:hover .booking-controls.show-md {
    display: flex;
  }
  .day .booking:active .booking-controls.show-xs, .day .booking:focus .booking-controls.show-xs, .day .booking:hover .booking-controls.show-xs {
    display: none;
  }
}
.day .booking.booking-duplicate-handler, .day .booking.booking-duplicate {
  border-left: 0.2rem #6c757d solid;
}
.day .booking.booking-duplicate-handler .booking-check, .day .booking.booking-duplicate-handler .booking-form, .day .booking.booking-duplicate .booking-check, .day .booking.booking-duplicate .booking-form {
  /* account for border */
  margin-left: -0.2rem;
}
.day .booking.booking-duplicate {
  background: #f3f4f5;
}
.day .booking.booking-duplicate-handler td.booking-duplicate-dir {
  padding-left: 0.2rem !important;
  padding-right: 0.4rem;
}
.day .booking.booking-duplicate-handler .fa-folder-open {
  display: none;
}
.day .booking.booking-duplicate-handler.open .fa-folder {
  display: none;
}
.day .booking.booking-duplicate-handler.open .fa-folder-open {
  display: inline-block;
}
@media (min-width: 768px) {
  .day .booking.booking-duplicate-handler, .day .booking.booking-duplicate {
    border-left: 0.3rem #6c757d solid;
  }
  .day .booking.booking-duplicate-handler .booking-check, .day .booking.booking-duplicate-handler .booking-form, .day .booking.booking-duplicate .booking-check, .day .booking.booking-duplicate .booking-form {
    /* account for border */
    margin-left: -0.3rem;
  }
  .day .booking.booking-duplicate-handler td.booking-duplicate-dir {
    padding-left: 0.7rem !important;
    padding-right: 0.6rem;
  }
}
.day table.bookings-table th {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.5pt;
  color: rgba(0, 0, 0, 0.35);
  border: 0;
}
.day table.bookings-table tbody td {
  border: none;
}
.day table.bookings-table tbody tr {
  border-top: 1px solid #dee2e6;
}
.day table.bookings-table tbody tr:last-of-type {
  border-bottom: 1px solid #dee2e6;
}
.day table.bookings-table tbody tr:hover td {
  background: transparent;
}
.day table.bookings-table label {
  margin-bottom: 0;
}
.day table.bookings-table .booking-comment:empty {
  display: none !important;
}
.day table.bookings-table .booking-admin-controls {
  background-color: #f8f9fa;
}
.day .card.game h6 {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.5pt;
  color: rgba(0, 0, 0, 0.35);
  border: 0;
}
.day .card.game .card-header form {
  display: none;
}
.day .card.game .card-header.display-form .game-header {
  display: none;
}
.day .card.game .card-header.display-form form {
  display: block;
}
.day .card.game .card-header .game-header .game-name, .day .card.game .card-header .game-header .game-location > div {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.day .card.game .card-header .game-header .game-controls {
  display: none;
}
.day .card.game .card-header:active .game-header .game-controls, .day .card.game .card-header:focus .game-header .game-controls, .day .card.game .card-header:hover .game-header .game-controls {
  display: inline-block;
}
.day .new-game h6 {
  font-size: 1rem;
  font-weight: lighter;
  text-transform: uppercase;
  line-height: 1.5;
}

body:not(.editable) .editor {
  display: none !important;
}

/*# sourceMappingURL=booking.css.map */
