.row > .form-label-group > label {
  /* Fix the floating label if it is in a column */
  margin-left: 15px;
  margin-right: 15px;
  padding-left: inherit;
  padding-right: inherit;
}

.floating-label-size {
  height: 3.125rem;
  padding: 0.75rem;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}
.form-label-group > input, .form-label-group > select {
  height: 3.125rem;
  padding: 0.75rem;
}
.form-label-group > .toggle {
  margin-top: 0.5rem;
}
.form-label-group > label {
  height: 3.125rem;
  padding: 0.75rem;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  line-height: 1.5;
  color: #495057;
  pointer-events: none;
  cursor: text;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  transition: all 0.1s ease-in-out;
}
.form-label-group .toggle {
  margin-top: 0.72rem;
}
.form-label-group .toggle ~ label {
  margin-top: -0.7rem;
  margin-left: 0;
}
.form-label-group input::-webkit-input-placeholder, .form-label-group select::-webkit-input-placeholder, .form-label-group .toggle::-webkit-input-placeholder {
  color: transparent;
}
.form-label-group input:-ms-input-placeholder, .form-label-group select:-ms-input-placeholder, .form-label-group .toggle:-ms-input-placeholder {
  color: transparent;
}
.form-label-group input::-ms-input-placeholder, .form-label-group select::-ms-input-placeholder, .form-label-group .toggle::-ms-input-placeholder {
  color: transparent;
}
.form-label-group input::-moz-placeholder, .form-label-group select::-moz-placeholder, .form-label-group .toggle::-moz-placeholder {
  color: transparent;
}
.form-label-group input::placeholder, .form-label-group select::placeholder, .form-label-group .toggle::placeholder {
  color: transparent;
}
.form-label-group input:not(:placeholder-shown), .form-label-group select:not(:placeholder-shown), .form-label-group .toggle:not(:placeholder-shown) {
  padding-top: 1.25rem;
  padding-bottom: 0.25rem;
}
.form-label-group input:not(:placeholder-shown) ~ label, .form-label-group select:not(:placeholder-shown) ~ label, .form-label-group .toggle:not(:placeholder-shown) ~ label {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  font-size: 12px;
  color: #777;
}
.form-label-group input:not(:placeholder-shown)[type=button], .form-label-group input:not(:placeholder-shown)[type=submit], .form-label-group input:not(:placeholder-shown)[type=reset], .form-label-group select:not(:placeholder-shown)[type=button], .form-label-group select:not(:placeholder-shown)[type=submit], .form-label-group select:not(:placeholder-shown)[type=reset], .form-label-group .toggle:not(:placeholder-shown)[type=button], .form-label-group .toggle:not(:placeholder-shown)[type=submit], .form-label-group .toggle:not(:placeholder-shown)[type=reset] {
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

/* Fallback for Edge
-------------------------------------------------- */
@supports (-ms-ime-align: auto) {
  .form-label-group > label {
    display: none;
  }

  .form-label-group input::-ms-input-placeholder {
    color: #777;
  }
}
/* Fallback for IE
-------------------------------------------------- */
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .form-label-group > label {
    display: none;
  }

  .form-label-group input:-ms-input-placeholder {
    color: #777;
  }
}

/*# sourceMappingURL=floating-labels.css.map */
