{% extends "jeugdraad/base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}
{% load compress %}
{% load event %}
{% load dictionary %}
{% load static %}

{% block window_title %}
  {% if current_group %}
    {% blocktrans with group=current_group.name %}Bookings for {{ group }}{% endblocktrans %}
  {% else %}
    {% trans "All bookings" %}
  {% endif %}
  | {% trans current_event.name %} | {{ block.super }}
{% endblock %}

{% block body_attrs %}{{ block.super }} data-spy="scroll" data-target="" data-offset="100"{% endblock %}
{% block body_class %}{{ block.super }} {% if current_event|may_edit:user %}editable{% endif %}{% endblock %}

{% block content %}

    {% compress css %}
      <style type="text/css">
        .details {
          /* Remove the font-awesome list margin on the left */
          margin-left: 1.5em;
        }

        span[data-toggle=tooltip][data-placement=right] {
          /* Offset the tooltip for list elements a little bit */
          padding-right: 1em;
        }
      </style>
    {% endcompress %}

  {% include "booking/partials/delete-game-modal.html" %}
  {% include "booking/partials/delete-booking-modal.html" %}

  <div class="row">
    <div class="col-md-8">
      <h1>{{ current_event.name }}</h1>
    </div>
    <div class="col-md-4 text-center text-md-right my-2 my-md-0">
      <div class="h2">
        <div data-toggle="tooltip" data-placement="top" title="{% trans "Booking status" %}"
             class="badge badge-secondary booking-status status-{{ current_event.booking_status_code }}">
            {{ current_event.booking_status }}<br/>
            {% if current_event|may_edit:user %}
              <small class="font-weight-light">{% trans "You may edit" %}</small>
            {% else %}
              <small class="font-weight-light">{% trans "You cannot edit" %}</small>
            {% endif %}
        </div>
      </div>

    </div>
    <div class="col-md-9">
      <ul class="fa-ul list-unstyled small text-muted details">
        <li>
          <span class="fa-li"><i class="far fa-calendar-alt"></i></span>
          <span data-toggle="tooltip" data-placement="right" title="{% trans "Event period" %}">
             {{ current_event.event_start }} - {{ current_event.event_end }}
          </span>
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-lock"></i></span>
          <span data-toggle="tooltip" data-placement="right" title="{% trans "Booking period" %}">
            {{ current_event.booking_start }} - {{ current_event.booking_end }}
          </span>
        </li>
        <li>
          <span class="fa-li"><i class="fas fa-user-lock"></i></span>
          <span data-toggle="tooltip" data-placement="right" title="{% trans "Privileged booking period" %}">
            {{ current_event.booking_end }} - {{ current_event.privileged_booking_end }}
          </span>
        </li>
      </ul>
    </div>

  </div>

    {% compress css %}
      <style type="text/css">
        .booking-status.status-LO {
          background-color: #DC3545;
          border-color: #DC3545;
        }

        body.editable .booking-status.status-LO {
          color: #DC3545 !important;
        }

        .booking-status.status-PR {
          background-color: #ffc107;
          border-color: #ffc107;
        }

        body.editable .booking-status.status-PR {
          color: #ffc107 !important;
        }

        .booking-status.status-OP {
          background-color: #28a745;
          border-color: #28a745;
        }

        body.editable .booking-status.status-OP {
          color: #28a745 !important;
        }

        .booking-status {
          border-color: #6c757d;
        }

        body.editable .booking-status {
          background-color: transparent !important;
          border-width: 1px;
          border-style: solid;
          color: #6c757d !important;
        }

        .booking-status small {
          font-size: .7em;
        }
      </style>
    {% endcompress %}

  <div class="row">
    <div class="col-auto">
      <p class="lead">{% trans "Material bookings" %}</p>
    </div>
    <div class="col text-sm-right mb-2 mb-sm-0">
      <div class="btn-toolbar d-inline-block" role="toolbar" aria-label="Toolbar with button groups">
        <div class="btn-group mr-2 d-print-none" role="group" aria-label="{% trans "Export options" %}">
          <a href="javascript:window.print()" data-toggle="tooltip" data-placement="top" class="btn btn-outline-secondary" title="{% trans "Print" %}"><i class="fas fa-print"></i></a>
          <a href="" data-toggle="tooltip" data-placement="top" class="btn btn-outline-secondary" title="{% trans "Export to Excel" %}"><i class="fas fa-file-excel"></i></a>
        </div>
        <div class="btn-group mr-2" role="group" aria-label="{% trans "Display options" %}">
          {% block display_options %}
          {% endblock %}
        </div>
        <div class="btn-group" role="group" aria-label="{% trans "Group" %}">
          <div class="dropdown">
            <button class="btn btn-outline-secondary {% if perms.booking.can_view_others_groups_bookings %}dropdown-toggle"
                    type="button" id="dropdownMenuButton" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false{% endif %}">
              {% if current_group %}
                {{ current_group.name }}
              {% else %}
                {% trans "All" %}
              {% endif %}
            </button>
            {% if perms.booking.can_view_others_groups_bookings %}
              {% block group_selector %}{% endblock %}
            {% endif %}
          </div>
        </div>
      </div>

    </div>
  </div>

  <div id="booking" class="card position-relative booking-card" data-group="{{ current_group.id }}" data-user="{{ user.id }}" data-event="{{ current_event.id }}">
    <nav class="card-header sticky-top frosted d-print-none" id="scroll_pills">
      <ul class="nav nav-pills card-header-pills flex-nowrap overflow-auto">
          {% for day in current_event.days %}
            <li class="nav-item">
              <a class="nav-link {% if forloop.counter == 1 %}active{% endif %}"
                 href="#day{{ day.isoformat }}">{{ day|date:"l" }}</a>
            </li>
          {% endfor %}
      </ul>
    </nav>
    <div class="card-body">
      {% block event_days %}
      {% endblock %}
    </div>
  </div>

    {% compress css %}
      <link href="{% static "booking/css/floating-labels.css" %}" rel="stylesheet">
      <link href="{% static "booking/css/booking.css" %}" rel="stylesheet">
    {% endcompress %}

{% endblock %}

{% block scripts %}
{{ block.super }}

<script src="{% static "booking/js/ajax_csrf.js" %}" type="text/javascript"></script>
<script src="{% static "booking/js/app.js" %}" type="module"></script>

{% endblock %}
